CHAIN=solana
DRY_RUN=true
ENABLE_STRATEGY_S1=true
ENABLE_STRATEGY_S2=true
KILL_SWITCH=false
CORE_API_PORT=8000
ADMIN_TELEGRAM_USER_IDS=12345
TELEGRAM_BOT_TOKEN=replace
TELEGRAM_CHAT_ID_DEFAULT=replace
ENCRYPTED_KEY_PATH=./keys/encrypted.json
KEY_PASSPHRASE_ENV=KEY_PASSPHRASE
BASE58_SECRET=
